<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b>
    0.1
  </div>
  Content available under
  <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>.
</footer>
